html{
    font-size: 16px;
    font-family: 微軟正黑體, sans-serif;
}
.mainTitle {
    font-size: 2.8em;
    font-weight: 500;
    color: #6e8086;
    margin: 32px 0 0 70px;
    float: left;
}

.subTitle {
    font-size: 1.2em;
    font-weight: 300;
    color: #858585;
    padding: 0px 0 0 60px;
    margin: 20px;
    width: 100%;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.subTitle-sem {
    font-size: 1.2em;
    font-weight: 300;
    color: #ffffff;
    padding: 10px 0 10px 50px;
    margin: 0 0px 20px 30px;
    border-radius: 2px;
    float: left;
    width: 100%;
    background: #1fac63 ; /*#1fac63 1a8f52*/
    display: flex;
    align-items: center;
}

.subTitle-sem-orange {
    background: #e76f51; /*ff9f6a*/
}

.subTitle_item_hint{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.apply-btn-year {
    font-size: 19px;
    font-weight: bolder;
    padding: 4px 8px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(234, 176, 189);
    color: #fff6f2;
}

.groups {
    margin: 0 0 60px 0;
    clear: both;
}

.groupBtn {
    margin: 30px;
    padding: 30px;
    background: #ffffff;
    border-radius: 6px;
    border-left: 5px #1fac63  solid; /*#1a8f52*/
}

.groupBtn-orange {
    margin: 30px;
    padding: 30px;
    background: #ffffff;
    border-radius: 6px;
    border-left: 5px #e76f51 solid; /*#ff9f6a*/
}

.group-pic {
    width: 200px;
    height: 200px;
}

.groupYear {
    font-size: 1.2em;
    font-weight: 200;
    color: #575757;
}

.groupTitle {
    font-size: 1.8em;
    font-weight: 100;
    color: #575757;
}

.groupModify {
    margin: 10px 10px 5px 0;
    float: left;
}

.group-chip {
    margin: 7px 10px !important;
}

.chipWrapper {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;

    /*margin-top: 10px;*/
}

.block {
    display: block;
    height: 50px;
}

.applymem{
    /*display: flex;*/
    position: relative;
    font-size: 1.4em;
    border-top: solid 2px;
    margin-top: 10px;
    padding-top: 10px;
}
.changeText{
    display: inline-block;
}
.student_name{
    display: inline-block;
    margin-right: 5px;
}

.replybtn{
    margin-left: 30px;
    display: inline-block;
}
.studentNum{
    flex: 7;
    display: flex;
    flex-direction: column;
}
.currentSem{
    flex: 3;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.dialog_title{
    font-size: 1.6em;
    padding: 25px;
    color: black;
    font-weight: 500;
}
.dialog_text{
    font-size: 1.2em;
    padding: 0px 25px 25px;
    color: black;
}
.InfoBtn{
    cursor: pointer;
}